streamlit==1.42.0
requests==2.32.3
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
Pillow==10.1.0
face-alignment==1.4.1
dill==0.2.7.1
addict==2.4.0
numpy==1.26.4
matplotlib==3.7.5
opencv-python-headless==4.10.0.84
albumentations==1.4.20
tqdm==4.67.1
einops==0.8.0
fastapi==0.110.0  
uvicorn==0.27.1  
pydantic==2.10.6  
python-multipart==0.0.9  
